/*
---01 TYPOGRAPHY SYSTEM


 FONT SIZE SYSTEM (px) 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
 FONT WEIGHTS: DEFAULT 400, 
 LINE HEIGHTS: 
 DEFAULT: 1;
 
   ---02 COLORS

   PRIMARY: #e67e22;
   TINTS:
   SHADES:
   ACCENTS:
   GREYS: #555; 

   ---03 SHADOWS 



   ---04 BORDER-RADIUS


   ---05 WHITESPACE
        (px) 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    overflow-x: hidden;
}
   
html {

    font-size: 62.5%;
    overflow-x: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}
.logo {

    height: 2.2rem;

}
.main-nav-link:link,
.main-nav-link:visited {

    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
    display: inline-block;


}


.main-nav-link:hover,
.main-nav-link:active {

    color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {

    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;

}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {

    background-color: #cf711f;

}

.main-nav-list {

    list-style: none;
    display: flex;
    gap: 4.8rem;
    align-items: center;
}


.section-hero {

background-color: #fdf2e9;
padding:4.8rem 0 9.6rem 0;


}


.hero {
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
    padding: 0 3.2rem;
    
}



.hero-description {

    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size:2rem;
    font-weight: 600;
    padding:1.6rem 3.2rem;
    border-radius: 9px;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
    font-family: inherit;
    
}

.btn--full:link, 
.btn--full:visited {
    
    
background-color: #e67e22;
color: #fff;



}

.btn--full:hover,
.btn--full:active {


    background-color: #cf711f;


}

.btn--outline:link,
.btn--outline:visited {


    background-color: #fff;
    color: #555;


}

.btn--outline:hover,
.btn--outline:active {


    background-color: #fdf2e9;
    box-shadow: inset 0 0 0 3px #fff;
}


.hero-img {

    width: 100%;
}

.margin-right-sm {

    margin-right: 1.6rem !important;
}

.delivered-meals {

    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap:1.6rem;

}

.delivered-imgs {

    display: flex;
}

.delivered-imgs img {

    height: 4.8rem;
    width: 4.8rem;
    border-radius:50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {

    margin: 0;
}
.delivered-text {

    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span {

    color: #CF711F;
    font-weight: 700; 
}

.container {

    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid {

    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
    
}



.grid:not(:last-child) {

    margin-bottom: 9.6rem;

}

.grid--2-cols {
    
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    
    grid-template-columns: repeat(4, 1fr);

}

.grid--center-v {

    align-items: center;
}


.section-how {

    padding: 9.6rem 0;

}

.step-img {

    width: 36%;
}

.heading-primary,
.heading-secondary,
.heading-tertiary  {

font-weight: 700;
color: #333;
letter-spacing: -0.5px;
}


.heading-primary {

    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}


.heading-secondary {

    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
    
}

.heading-tertiary {

    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;

}


 
.subheading {

    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

.step-number {

    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-description {

    font-size: 1.8rem;
    line-height: 1.8;
}

.step-img-box {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-img-box::before,
.step-img-box::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.step-img-box::before {
    width: 60%;
    /* height: 60%; */

    /* 60% of parent's width */
    padding-bottom: 60%;

    background-color: #fdf2e9;
    z-index: -2;
}

.step-img-box::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
    z-index: -1;
}

.heading-featured-in {

    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #767676;
}

.section-featured {

    padding: 4.8rem 0 3.2rem 0;
}

.logos {

    display: flex;
    justify-content: space-around;
}

.logos img {

    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;

}

.section-meals {

    padding: 9.6rem 0;
}

.meal-img {

    width: 100%;

}

.meal-title {

    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.meal-attributes {

    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.meal-attribute {

    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap:1.6rem;
}

.meal-icon {

    height:2.4rem;
    width:2.4rem;
    color:#e67e22;
}

strong {

    font-weight: 500;
}

.tag {

    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    
    color: #333;
    border-radius: 100px;
    font-weight: 600;
}

.meal-tags {

    margin-bottom: 1.2rem;
    display: flex;
    gap:0.4rem;

}

.meal {

    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
    
}

.meal-content {

    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.tag--vegetarian {

    background-color: #51cf66;
}

.tag--vegan {

    background-color: #94d82d;
}

.tag--paleo {

    background-color: #ffd43b;
}

.list {

    list-style:none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

}

.list-icon {

    width: 3rem;
    height: 3rem;
    color:#e67e22;
}

.list-item {

    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    line-height: 1.2;
}

.margin-bottom-md {

    margin-bottom: 4.8rem !important;
}

.all-recipes {

    text-align: center;
    font-size: 1.8rem;
}

.link:link,
.link:visited {

    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    transition: all 0.3s;
}

.link:hover,
.link:active {

    color:#cf711f;
    border-bottom: 1px solid transparent;
}

.center-text {

    text-align: center;
}

.meal:hover {

    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);

}

.section-testimonials {

    
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}

.testimonials {

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
    
}

.testimonial-img {

    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-text {

    font-size: 1.8rem;
    line-height:1.8;
    margin-bottom: 1.6rem;

}

.testimonial-name {

    font-size: 1.6rem;
    color: #6F6F6F;
}

.gallery-item img {

    display: block;
    width: 100%;
    transition: all 0.4s;
}

.gallery {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}

.testimonials-container {

    padding: 9.6rem;
}

.gallery-item img:hover {

    transform: scale(1.1)
}

.gallery-item {

    overflow: hidden;
}

.section-pricing {


    padding: 9.6rem 0;
}

.plan-name {

color: #cf711f;
font-weight:600;
font-size: 2rem;
text-transform: uppercase;
letter-spacing: 0.75;
margin-bottom:3.2rem;

}

.plan-price {
font-size: 6.2rem;
font-weight:600;
color: #333;
margin-bottom: 1.6rem;

}

.plan-text {

font-size: 1.6rem;
line-height: 1.6;
color: #6F6F6F;
}

.plan-header {

    text-align: center;
    margin-bottom: 4.8rem;
}

.plan-price span {

    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}

.plan-sing-up {

    text-align: center;
    margin-top: 4.8rem;
}

.pricing-plan {

    
    border-radius: 11px;
    
    width:  75%;
}

.pricing-plan--starter {

    justify-self: end;
    border: 2px solid #fdf2e9;
    padding: 4.6rem;
}

.pricing-plan--complete {

    background-color: #fdf2e9;
padding: 4.8rem;
position: relative;
overflow: hidden;
}

.pricing-plan--complete::after {
    content:"Best value";
    position: absolute;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    top:6%;
    right:-18%;
    background-color: #ffd43b;
    padding: 0.8rem 8rem;
    color:#333;
    transform: rotate(45deg);
}

.feature-icon {
 color: #e67e22;
 height:3.2rem;
 width: 3.2rem;
 margin-bottom: 3.2rem;
 background-color: #fdf2e9;
 padding: 1.6rem;
 border-radius: 50%;
}

.feature-text {

    font-size: 1.8rem;
    line-height:1.8;

}

.feature-title {

    font-size: 2.4rem;
    color: #333;
    font-weight:700;
    margin-bottom: 1.6rem;
}

.plan-details {

    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
}

.cta {

    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
    border-radius:11px;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    
    overflow: hidden;
}

.cta-img-box {
    background-image: linear-gradient(to right bottom,
            rgba(235, 151, 78, 0.35),
            rgba(230, 125, 34, 0.35)),
        url("../img/gallery/eating.jpg");
    background-size: cover;
    background-position: center;
}

.cta-text-box {

    color: #45260a;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;


}

.cta .heading-secondary {

    color: #45260a;
    margin-bottom: 3.2rem;
}

.cta-text {

    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}
.section-cta {
    /* top / right / bottom / left */
    /* padding: 9.6rem 0 12.8rem 0; */

    /* top / horizontal / left */
    padding: 4.8rem 0 12.8rem 0;
}

.cta-form {

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
    
}

.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {

    width:100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.cta-form input::placeholder {

    color: #aaa;
}


.btn--form {

    background-color: #45260a;
    color: #fdf2e9;
    align-self: end;
    padding: 1.2rem;
}

.btn--form:hover {

    background-color: #fff;
    color: #555;
}

*:focus {

    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

.cta *:focus {

    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.grid--5-cols {

    grid-template-columns: repeat(5, 1fr);
}

.footer {

    padding: 12.8rem 0;
    border-top: 1px solid #eee;

}

.footer-heading {

    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.footer-nav {

    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

}

.footer-link:link,
.footer-link:visited {

    text-decoration: none;
    font-size: 1.6rem;
    color:#767676;
    transition: all 0.3s;

}

.footer-link:hover,
.footer-link:active {

color: #555;
}

.social-links {

    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.footer-logo {

    display: block;
    margin-bottom: 3.2rem;
}

.social-icon {

    height: 2.4rem;
    width: 2.4rem;
}

.copyright {

    font-size: 1.4rem;
    color: #767676;
    line-height: 1.6;
    margin-top:auto;
}

.logo-col {

    display: flex;
    flex-direction: column;

}

.contacts {

    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address {

    margin-bottom: 2.4rem;
}

.grid--footer {

    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

@media (max-width: 84em) {
    .hero {
        max-width: 120rem;
    }

    .heading-primary {
        font-size: 4.4rem;
    }

        .gallery {
    
    
            grid-template-columns: repeat(2, 1fr);
            
        }
}

@media (max-width: 75em) {
    html {
        font-size: 56.25%;
    }

    .grid {

        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }

    .heading-secondary {
        font-size: 3.6rem;
    }

    .heading-tertiary {
        font-size: 2.4rem;
    }

    .header {

        padding: 0 3.2rem;
    }

    .hero {

        gap: 4.8rem;
    }

    .main-nav-list {

        gap: 3.2rem;
    }

    .testimonials-container {
    
            padding: 9.6rem 3.2rem;
    }
}

@media(max-width: 59em) {

    html {

        font-size: 50%;
    }

    .hero {

        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;
    }

    

    .hero-text-box {

        text-align: center;
    }

    .hero-img {

        text-align: center;
        width: 60%;
    }

    .delivered-meals {

        justify-content: center;
        margin-top: 3.2rem;
    }

    .logos img {

        height: 2.4rem;

    }

    .step-number {

        font-size: 7.4rem;
    }

    .meal-content {

        padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    }

    .section-testimonials {

        grid-template-columns: 1fr;

    }

    .gallery {
        grid-template-columns: repeat(6, 1fr);
    }

    .cta {

        grid-template-columns: 3fr 2fr;
    }

    .cta-form {

        grid-template-columns: 1fr;
    }

    .btn--form {

        margin-top: 1.2rem;
    }


.btn-mobile-nav {

    display: block;

}


.main-nav {

    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
}

.main-nav-list {

    flex-direction: column;
    gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {

    font-size: 3rem;

}

.nav-open .main-nav {

    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
}


.nav-open .icon-mobile-nav[name="close-outline"] {

    display: block;
}


.nav-open .icon-mobile-nav[name="menu-outline"] {

    display: none;
}

.main-nav-link:link,
.main-nav-link:visited {
    font-size: 3rem;
}

}


@media (max-width: 44em) {

  .grid--3-cols,
  .grid--4-cols   {

    grid-template-columns: repeat(2, 1fr);
  }

  .diets {

    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {

    margin-bottom: 4.8rem;
  }

  .pricing-plan {

    width: 100%;
  }

  .grid--footer {

    grid-template-columns: repeat(6, 1fr);

  }

  .nav-col {

    grid-row: 1;
    grid-column: span 2;
    margin: 3.2rem;
  }

  .logo-col, 
  .address-col {

    grid-column: span 3;

  }
}

@media (max-width: 34em)

{
    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols {

        grid-template-columns: 1fr;
    }

    .grid {
        row-gap: 4.8rem;
    }

    .hero {
         
            padding: 0 3.2rem;
    
        }

    .section-hero {

        padding: 2.4rem 0 6.4rem 0;
    }

    .btn,
    .btn:link,
    .btn:visited {

        padding: 2.4rem 1.6rem;
    }

    

    .hero-img {

        width: 80%;

    }

    .logos img {

        height: 1.2rem;
    }

    .step-img-box:nth-child(2) {

        grid-row: 1;

    }

         .step-img-box:nth-child(6) {
             grid-row: 5;
         }

    .step-img-box {

        transform: translateY(2.4px)
    }

    .testimonials {

        grid-template-columns: 1fr;
    }

    .gallery {

        grid-template-columns: repeat(4, 1fr);

        gap: 1.2em;
    }

    .cta {

        grid-template-columns: 1fr;
    }

    .cta-img-box {

        height: 32rem;
        grid-row: 1;
    }

    .cta-text-box {

        padding: 3.2rem;
    }


}

.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
}